.outside-bomb-box{
	width: 100%;
	height: 33.325rem;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
}
.bomb-box-content{
	width: 75%;
	height: 25%;
	background: #FFFFFF;
	margin-top: 27%;
	border-radius: 0.35rem;
	margin-left: 12.5%;
}
.bomb-box-middle{
	width: 80%;
	margin-left: 10%;
	display: inline-block;
}
.bomb-box-header{
	width: 100%;
	height: 2.5rem;
	background: #18B4ED;
	color: #FFFFFF;
	text-align: center;
	text-align: center;
	line-height: 2.5rem;
	font-size: 0.6rem;
}
.bomb-box-header img{
	width: 1.8rem;
	height: 1.8rem;
	margin-top: 0.35rem;
	margin-left: 2rem;
	float: left;
}
/*外发链接的邮箱、动态码验证界面*/
.sed-out-link{
	width: 100%;
	padding-top: 8rem;
	display: inline-block;
}
.sed-out-link-header{
	width: 100%;
	height: 2.4rem;
	position: relative;
}
.sed-out-link-header>div{
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.sed-out-link-header>div>img{
	width: 2.4rem;
	height: 2.4rem;
}
.sed-out-link-details{
	width: 100%;
	font-size: 0.75rem;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	color: #333333;
}
.sed-out-link-mailbox{
	width: 100%;
	display: inline-block;
	margin-top: 1rem;
	position: relative;
}
.sed-out-link-mailbox-middle{
	width: 12rem;
	height: 2.2rem;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.link-mailbox-input{
	padding-left: 2.2rem;
	width: 9.8rem;
	height: 2.2rem;
	outline: none;
	border: none;
	font-size: 0.6rem;
	color: #999999;
	border: 0.05rem solid #e4e1e1;
	border-radius: 0.35rem;
}
.link-mailbox-icon{
	width: 1.2rem;
	height: 0.8rem;
	background: url(../img/file-add.png) no-repeat center center;
	background-size:1.2rem 0.8rem;
	position: absolute;
	top: 0.7rem;
	left: 0.7rem;
}
.link-dynamic-code-icon{
	width: 1.2rem;
	height: 0.8rem;
	background: url(../img/file-add.png) no-repeat center center;
	background-size:1.2rem 0.8rem;
	position: absolute;
	top: 0.7rem;
	left: 0.7rem;
}
.link-dynamic-code-obtain{
	width: 3rem;
	height: 0.8rem;
	font-size: 0.5rem;
	color: #FFFFFF;
	background: #18b4ed;
	line-height: 0.8rem;
	border-radius: 0.25rem;
	text-align: center;
	position: absolute;
	top: 0.7rem;
	right: 1.25rem;
}
.sed-out-link-tail{
	width: 100%;
	height: 2.2rem;
	margin-top: 1.3rem;
	position: relative;
}
.determine-sign-in{
	width: 12rem;
	height: 2.2rem;
	background: #18B4ED;
	border-radius: 0.35rem;
	line-height: 2.2rem;
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	font-size: 0.75rem;
}