.box {
	width: 100%;
	height: 100%;
/*	overflow: hidden;*/
}
::-webkit-scrollbar{
	display: none;
}
.sed-out-link {
	width: 100%;
	padding-top: 18%;
	background: white;
	display: inline-block;
}

#uploadFileList>div>span {
	font-size: 0.6rem;
	color: #333333;
}

#uploadFileList>div>span:nth-child(1) {
	width: 12rem;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sed-out-link-span {
	width: 100%;
    text-align: center;
    font-size: 0.75rem;
}

.upload-fileList {
	margin: 1rem 2rem;
	height: 13rem;
	overflow-y: scroll;
	max-height: 11rem;
}

.sed-out-link-header {
	width: 100%;
	height: 2.4rem;
	position: relative;
}

.sed-out-link-header>div {
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
}

.sed-out-link-header>div>img {
	width: 2.4rem;
	height: 2.4rem;
}

.sed-out-link-details {
	font-size: 0.75rem;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	color: #333333;
	margin-top: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sed-out-link-mailbox {
	width: 100%;
	display: inline-block;
	margin-top: 1rem;
	position: relative;
	height: 1.9rem;
}

.sed-out-link-mailbox-middle {
	width: 12rem;
	height: 2.2rem;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.link-mailbox-input {
	padding-left: 2.2rem;
	width: 9.8rem;
	height: 1.8rem;
	outline: none;
	font-size: 0.6rem;
	border: 1px solid #e4e1e1;
	-webkit-border-radius:0.15rem;
}
.link-mailbox-input:focus{
	border: 1px solid #4F77AA;
}

.link-mailbox-icon {
	width: 1rem;
	height: 1rem;
	background: url(../../img/file-mail-icon.png) no-repeat center center;
	background-size: 1rem 1rem;
	position: absolute;
	top: 0.5rem;
	left: 0.7rem;
}

.link-dynamic-code-icon {
	width: 1rem;
	height: 1rem;
	background: url(../../img/file-dynamic-code.png) no-repeat center center;
	background-size: 1rem 1rem;
	position: absolute;
	top: 0.5rem;
	left: 0.7rem;
}

.link-dynamic-code-obtain {
	width: 4.5rem;
    height: 1.2rem;
    font-size: 0.5rem;
    color: #FFFFFF;
    background: #4F77AA;
    line-height: 1.2rem;
    border-radius: 0.25rem;
    text-align: center;
    position: absolute;
    top: 0.4rem;
    right: 0.3rem;
}

.sed-out-link-tail {
	width: 100%;
	height: 2.2rem;
	margin-top: 0.5rem;
	position: relative;
	margin-top: 1.5rem;
}

.determine-sign-in {
	width: 6.5rem;
	height: 1.8rem;
	background: #4F77AA;
	border-radius: 0.2rem;
	line-height: 1.8rem;
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	font-size: 0.75rem;
}
/* 外链文件下载页面 */
.logo-layout {
	height: 3rem;
	margin-left: 0.5rem;
	float: left;
}

.logo-name {
	height: 3rem;
	font-size: 0.75rem;
	line-height: 3rem;
	font-weight: 600;
}

.link-header {
	height: 3rem;
}

.share-name-div {
	float: right;
	line-height: 3rem;
	font-size: 0.75rem;
	margin-right: 0.5rem;
}

.footer-layout {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: -1;
	text-align: center;
}

.link-file-info {
	width: 100%;
	text-align: center;
	color: #999999;
}

.link-file-info>span {
	padding: 0.5rem;
	color: #999999;
	font-size: 0.6rem;
}

.file-info>div:nth-child(2){
	float: left;
	width: 70%;
	margin-top: 0.45rem;
}
.fileName{
	font-size: 0.75rem;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	padding-bottom: 0.3rem;
}
.file-info>div:nth-child(2)>span{
	font-size: 0.6rem;
	color:#999999;
	margin-right:0.2rem;
}
#directory{
	padding-left:0.5rem;
	height: 1.7rem;
}
#directory>a{
	font-size:0.6rem;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 4rem;
}