#fileList{
    /*
	overflow:scroll;
	height:24rem;
    */
	width: 100%;
}
.fillBackground{
	width: 100%;
	height: 0.5rem;
	background: rgb(240,240,240);
}
.DivSelect div{
	margin-left: 0.5rem;
}
.weui-dialog__btn{
	color: #18B4ED;
}
/*共享*/
.share-bombbox{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	z-index: 100;
	display: none;
}
.share-middle{
	width: 90%;
	height: 10rem;
	background: #FFFFFF;
	position: absolute;
	left: 5%;
	top: 50%;
	transform: translateY(-50%);
	border-radius:0.35rem ;
}
.share-middle .share-top{
	height: 6.5rem;
	width: 100%;
	border-bottom: 1px solid #E4E1E1;
}
.share-top-png{
	margin-top: 1rem;
	width: 100%;
	height: 2.1rem;
}
.share-top-png img{
	float: left;
	width: 1.6rem;
	height: 2.1rem;
	margin-left: 35%;
}
.share-top-png span{
	float: left;
	display: inline-block;
	font-size: 0.6rem;
	height: 1rem;
	width: 3.6rem;
	white-space:normal;
	line-height: none;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	margin-left: 0.3rem;
}
input::-ms-input-placeholder{text-align: center;} 
input::-webkit-input-placeholder{text-align: center;} 
.share-inputs{
	width: 14.4rem;
	height: 1.9rem;
	background: rgb(239,239,239);
	border: 1px solid #E4E1E1;
	border-radius:0.35rem;
	margin-left: 1.4rem;
	margin-top: 0.5rem;
	position: relative;
}
.share-input{
	width: 14.4rem;
	height: 1.9rem;
	font-size: 0.6rem;
	border: 1px solid #E4E1E1;
	color: rgb(153,153,153);
	outline: none;
	-webkit-appearance: none; 
	border-radius:0.35rem;
	background-position:3.5rem center ;
}
.share-inputs div{
	width: 0.6rem;
	height: 0.6rem;
	position: absolute;
	left: 3.5rem;
	top: 50%;
	transform: translateY(-50%);
	background: url(../../img/Search-Bar.png) no-repeat;
	background-size:0.6rem 0.6rem;
}
.share-top-brandnew li{
	float: left;
	font-size: 0.6rem;
	width: 25%;
	text-align: center;
	position: relative;
}
.share-top-brandnew{
	margin-top: 0.5rem;
}
.share-top-brandnew li span{
	margin-right: 0.3rem;
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	border: 1px solid #E4E1E1;
	border-radius:50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10%;
	background: '';
}
.share-ottom div{
	width: 3.45rem;
	height: 1.75rem;
	text-align: center;
	line-height: 1.75rem;
	border-radius:0.15rem;
	font-size: 0.6rem;
	margin-top: 0.2rem;
}
.share-ottom .share-cancel{
	float: left;
	background: rgb(239,239,239);
	margin-left: 3.4rem;
}
.share-ottom .share-confirm{
	float: right;
	background: rgb(24,180,237);
	margin-right: 3.4rem;
}
..weui-dialog__btn{
	color: #18B4ED;
}
.weui-actionsheet__cell{
	color: #18B4ED;
}
/*空白时的背景图片*/
.blank-background{
	background: url(../../img/iconblack_17.png) center center no-repeat;
	height: 16rem;
}