<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap      
    PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"      
    "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="LicenseNodeMapper">
	<typeAlias alias="LicenseNode"
		type="com.huawei.sharedrive.common.license.LicenseNode" />
	<select id="getAll" resultClass="LicenseNode" parameterClass="String">
		select * from license_node
	</select>
	<select id="get" resultClass="LicenseNode" parameterClass="Map">
		select * from license_node where serverType=#serverType# and esn=#esn#
	</select>
	
	<select id="getByEsnAndLicenseId" resultClass="LicenseNode" parameterClass="LicenseNode">
		select * from license_node where serverType=#serverType# and esn=#esn# and licenseId=#licenseId# limit 1
	</select>
	
	<select id="getNormalCountWithoutMe" resultClass="int" parameterClass="LicenseNode">
		select count(1) from license_node 
		where serverType=#serverType# and status=#status# and esn!=#esn# 
	</select>
	
	<select id="getNormalCountWithoutMeLid" resultClass="int" parameterClass="LicenseNode">
		select count(1) from license_node 
		where serverType=#serverType# and status=#status# and esn!=#esn# and licenseId=#licenseId#
	</select>
	<insert id="save" parameterClass="LicenseNode">
       insert into license_node(id,esn,lastModified,licenseId,name,nodeAddress,port,
	   serverType,status)
	   values(#id#,#esn#,#lastModified#,#licenseId#,#name#,#nodeAddress#,#port#,
	   #serverType#,#status#)
    </insert>
	<update id="update" parameterClass="LicenseNode">
       update license_node
	   set status=#status#,lastModified=#lastModified#,licenseId=#licenseId#,
	   nodeAddress=#nodeAddress#,port=#port#
	   where id=#id#
    </update>
</sqlMap>

