body{
	webkit-backface-visibility:hidden;
}
#box{
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: auto;
	margin-bottom: 3rem;
	overflow-x: hidden
}
.font-line-height{
	line-height:1.6rem;
	margin-right:1rem;
}
.sort > div{
	float:left;
	margin-left:1rem;
	line-height: 1.68rem;
}
.inbox-catalong{
	width: 100%;
	display: inline-block;
}
.pull-right-icon{
	float: right;
}
.pull-right-icon img{
	width: 0.8rem;
	height: 0.85rem;
	margin-top: 0.415rem;
	margin-right: 0.2rem;
}
.inbox-catalong-header{
	width: 100%;
	display: inline-block;
	background: #FFFFFF;
}
.inbox-catalong-header li{
	height: 3.4rem;
	border-bottom: 0.05rem solid #E4E1E1;
}
.file{
	float: left;
}
.inbox-catalong-header li i img{
	width: 1.6rem;
	height: 2.1rem;
}
.inbox-catalong-tail{
	width: 100%;
	height: 33.325rem;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	z-index: 101;
}
.inbox-catalong-tail .inbox-catalong-content{
	width: 92%;
	margin-left: 4%;
	display: inline-block;
	background: #FFFFFF;
	position: absolute;
	bottom: 0;
	border-radius: 0.35rem 0.35rem 0 0;
	height: 0;
	overflow: hidden;
	transition: height 1s;
}
.inbox-catalong-content li{
	width: 100%;
	float: left;
	height: 2rem;
	border-bottom: 0.05rem solid #E4E1E1;
	line-height: 2rem;
	color: #18B4ED;
	text-align: center;
}
.inbox-catalong-content li:last-child{
	border-bottom: none;
}
.inbox-catalong-blank{
	width: 100%;
	height: 26rem;
	background:url(../../img/iconblack_17.png) center center no-repeat;
	background-size:7rem 8rem;
	display: none;
	position: relative;
}
