.find-middle{
	width: 100%;
	font-size: 0.6rem;
}
.find-middle li{
	width: 94%;
	/*margin-left: 5%;*/
	margin: auto;
	height: 3.7rem;
	border-bottom:0.05rem solid #E4E1E1;
	position: relative;
}
.find-img{
	width: 2.2rem;
	height: 2.2rem;
	float: left;
	margin-top: 0.7rem;
}
.find-img img{
	width: 2.2rem;
	height: 2.2rem;
}
.find-content{
	float: left;
	height: 2rem;
	padding-left: 0.5rem;
	padding-top: 0.7rem;
	margin-left: 0.5rem;
}
.find-content h1{
	font-size: 0.75rem;
	color: #333333;
	font-weight: 500;
}
.find-content p{
	font-size: 0.6rem;
	color: #999999;
}
.find-number{
	float: right;
	padding: 0rem 0.2rem;
	background: #e53750;
	border-radius: 0.2rem;
	color: #FFFFFF;
	position: absolute;
	bottom: 0.5rem;
	right: 0;
}


