body {
	webkit-backface-visibility: hidden;
}

#box {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 1.75rem;
	bottom: 2.75rem;
	overflow-y: auto;
	height: auto;
	overflow-x: hidden;
}

#box>span {
	font-weight: 600;
}

.font-line-height {
	line-height: 1.6rem;
	margin-right: 1rem;
}

.sort>div {
	float: left;
	margin-left: 1rem;
	line-height: 1.68rem;
}

.pull-right-icon {
	float: right;
}

.pull-right-icon img {
	width: 0.65rem;
	height: 0.85rem;
	margin-top: 0.415rem;
	margin-right: 0.2rem;
}
.inbox-catalong-tail {
	width: 100%;
	height: 33.325rem;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	z-index: 101;
}

.inbox-catalong-tail .inbox-catalong-content {
	width: 92%;
	margin-left: 4%;
	display: inline-block;
	background: #FFFFFF;
	position: absolute;
	bottom: 0;
	border-radius: 0.35rem 0.35rem 0 0;
	height: 0;
	overflow: hidden;
	transition: height 1s;
}

.inbox-catalong-content li {
	width: 100%;
	float: left;
	height: 2rem;
	border-bottom: 0.05rem solid #E4E1E1;
	line-height: 2rem;
	color: #18B4ED;
	text-align: center;
}

.inbox-catalong-content li:last-child {
	border-bottom: none;
}